.idea/lab1.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
Dataset/batches.meta
Dataset/cifar-10-python.tar
Dataset/cifar-10-python.tar.gz
Dataset/data_batch_1
Dataset/data_batch_2
Dataset/data_batch_3
Dataset/data_batch_4
Dataset/data_batch_5
Dataset/readme.html
Dataset/test_batch
Dataset/cifar-10-batches-py/batches.meta
Dataset/cifar-10-batches-py/data_batch_1
Dataset/cifar-10-batches-py/data_batch_2
Dataset/cifar-10-batches-py/data_batch_3
Dataset/cifar-10-batches-py/data_batch_4
Dataset/cifar-10-batches-py/data_batch_5
Dataset/cifar-10-batches-py/readme.html
Dataset/cifar-10-batches-py/test_batch
